/*Default styling*/
-body {
    font-family: 'Ubuntu', sans-serif;
}
div.dropdown {
    width: 300px !important;
}
span.scDate {
    font-weight: 800;
}
span.scHijri {
    font-style: italic;
}

.marquee {
    width: 100%;
    overflow: hidden;
  }

div.upload-step {
    padding-bottom: 20px;
}
div.upload-step label{
    width: 350px;
    font-style: normal;
    font-weight: 200;
    float: left;
}
div.upload-step select{
    padding-left: 10px;
    width: 350px;
}
select.quickMonth{
    width: 120px;
}
td.Sat, td.Sun{
    font-weight: bold;
    color: red;
}

tr.today {
    font-size: large;
    font-weight: bold;
    color: blue;
}

table.dptAdmin td{
    text-align: left;
    padding-right: 20px;
    padding-left: 10px;
    width: auto;
}
table.dptAdmin td input.other{
    text-align: center;
    width: 110px;
}
table.dptAdmin th{
    text-align: center;
    background-color: #ccddee;
}

table.quickUpdate th{
    text-align: center;
    width: 80px;
    background-color: #514444;
    color: #fff;
}
table.quickUpdate td {
    text-align: center;
    border-bottom: 1px solid grey;
}
table.quickUpdate td input[type="time"]{
    color: grey;
    font-weight: 500;
    width: 100px;
    text-align: center;
}
table.quickUfpdate td input:focus{
    color: #000;
}

table.dptTimetable {
    margin-top: 5px;
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}
table.dptTimetable thead.prayerName {
    font-weight: bold;
    background: #eee;
}
table.dptTimetable tr, table.dptTimetable td, table.dptTimetable th {
    border: 1px solid black;
}
table.dptTimetable tr td{
    text-align: center;
    padding: 5px;
    width: 100px;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
}
table.dptTimetable tr, table.dptTimetable th{
     text-align: center;
     padding: 5px;
     vertical-align: middle;
     width: 100px;
     white-space: nowrap;
}
table.dptTimetable tr td.jamah{
    font-weight: bold;
}
table.dptTimetable th.tableHeading{
    background-color: #D2A9AC;
    font-weight: bold;
}
table.dptTimetable th.fasting, td.fasting{
    background: rgba(0, 128, 0, 0.34);
    width: 100px;
    font-weight: bold;
}
table.dptTimetable th.azanOnly {
    width: 140px;
}
table.dptTimetable tr:hover {
    background: #eee;
}
table.dptTimetable th.highlight, tr.highlight, td.highlight {
    background-color: #F5FF92;
    font-weight: bold;
}

/*No Border styling*/
table.dptNoBorder {
    border: 0;
    background: inherit;
}
table.dptNoBorder tr, table.dptNoBorder td, table.dptNoBorder th{
    border: 0;
    background: inherit;
}
/* End of No Border styling*/

table.customStyles {}  /* intentionally blank  */

.dptCenter {
    margin: auto;
    width: 50%;
    border:3px solid #8AC007;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.smallFont {
    font-style: italic;
    font-size: smaller;
}

div.donation {
    width: auto;
    color: #000000;
    background-color: #f1f1f1;
    padding: 15px;
    line-height: 1.15em;
    word-wrap: break-word;
    margin-bottom: 12px;
    margin-top: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.donation-text {
    margin-top: 20px;
    width: auto;
    background-color: #ffffff;
    padding: 1.1%;
    border-left: 4px solid #8AC007;
    word-wrap: break-word;
}
div.donation-link {
    margin-top: 20px;
    width: 25%;
    background-color: #0088cc;
    color: white;
    padding: 1.1%;
    border-left: 4px solid #8AC007;
    word-wrap: break-word;
    font-size: medium;
    text-align: center;
}
div.donation-link a{
    color: white;
}
div.donation-link a:hover{
    color: black;
}
table.dptTimetable th.jummah, table.dptTimetable th.notificationBackground  {
    background-color: maroon;
    font-weight: bold;
    color: #FFF;
    text-align: center;
}

#langSettings{
    cursor: pointer;
}

p.monthHeading{
    float:left;
    margin-right: 20px;
    font-size: 20px;
}

span.printIcon {
    float: right;
    cursor: pointer;
}

select.otherMonth  {
    border: 1px solid;  /*Removes border*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    width: 150px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
    padding: 5px;
    float: left;
    border-radius: 5px 5px 5px 5px;
    background-size: 20px auto;
    background-position: right 5px center;
}

span.dpt-donation {
    width: auto;
    color: #000000;
    background-color: maroon;
    padding: 10px;
    line-height: 1.15em;
    word-wrap: break-word;
    margin-bottom: 12px;
    margin-top: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 15px;
}

span.dpt-donation a{
    color: #abc;
    font-weight: bold;
}

span.dpt-donation a:hover{
    color: #fff;
    font-weight: bold;
}

span.timeLeft {
    font-size: 17px;
    font-weight: bold;
}

.button {
    font-weight: bold;
}

.saveButton {
    float: left;
    margin-right: 5px;
}

h3.printSiteName {
    display: none;
    visibility: hidden;
}

.hijriDate {
    font-weight: initial;
    font-style: italic;
    display: block;
    margin-bottom: 0px;
}

div.dptScNextPrayer {
    font-weight: bold;
    text-transform: uppercase;
}
span.minLeftText {
    text-transform: lowercase !important;
}

span.green h2.dptScTime {
    margin: unset !important;
}

h2.vertical div span h2.dptScTime {
    margin: 10px;
}
h2#dsNextPrayer div span h2.dptScTime {
    font-size: 2em !important;
    font-weight: 700;
}

.jamahChanges span{
    margin-left: 20px;
    margin-right: 20px;
}

p.nextIqamah {
    margin: 0px;
}

div.digital-screen div.left-screen {
    float: left;
}

.monthlyTimetable{
	width: 100%;
	overflow-x:auto;
}

.active-slider{
    width: 200px;
}

.fa-check {
    display: block !important;
}
.fa-check:after {
    padding-right: 5px;
}
div.monthSelector {
    margin-bottom: 10px;
}
a.url {
    text-decoration: underline;
}

div.todaySpan {
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover {
    transform: scale(9);
    cursor: pointer;
    transform-origin: right 2px;
}

div.quranVerse p{
    font-style: italic;
    display: inline;
}
div.quranVerse p.vertical{
    font-style: italic;
    display: inline;
    font-size: 3vw;
}
div.quranVerse span.sura{
    font-size: 0.9rem;
}

/* X BOARD */
.x-board {
    color: #000;
    height: 100vh;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
}

#overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: black; opacity: 0; z-index: 99;}


.x-board .height-100 {
    height: 100%;
}
.x-board .height-70 {
    height: 70%;
}
.x-board .height-60 {
    height: 60%;
}
.x-board .height-50 {
    height: 50%;
}
.x-board .height-40 {
    height: 40%;
}
.x-board .height-30 {
    height: 30%;
}
.x-board .height-24 {
    height: 24%;
    top: 10% !important;
}
.x-board .top-row {
    height: 15%;
}
.x-board .middle-row {
height: 70%;
}
.x-board td span.prayerFinished {
    opacity: 50%;
}

.x-board div.dsScroll{
    float: left;
}

.x-board span.jamahChanges {
    color:red;
}

.x-board .bottom-row {
    height: 15%;
    flex-wrap: wrap;
}

.x-board .table-borderless td,
.x-board .table-borderless th,
.x-board .table-borderless tr{
    border: 0 !important;
}

.x-board .align-middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.x-board .align-middle-next-prayer {
    position: relative;
    top: 50%;
}

.x-board .green {
    color: #fff;
    opacity: .8;
}

.x-board .bg-dark {
    background-color: #000 !important;
    color: #eee;
}
.x-board .bg-white {
    background-color: #fff !important;
}
.x-board .time{
    background-color: #000;
    color: #fff;
    font-size: 8vh;
    font-weight:bold;
}
.x-board .vertical-time{
    font-size: 17vw;
    height: 70%;
}
.x-board .vertical-date{
    height: 30%;
}

.x-board .date-eng{
    font-weight: bold;
    color: maroon;
    padding-left: 5px;
    font-size: 6vh;
}

.x-board span.vertical {
    font-size: 3vh !important;
}
.x-board p.hijriDate{
    display: inline;
    color: blue;
    margin-left: 10px;
}
.x-board span.hijri p{
    font-size: 4vh !important;
}
.x-board span.verticalhijri p{
    font-size: 2vh !important;
}

.x-board h3 {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.x-board .bg-red {
    background-color: #0066bf;
}
.x-board .bg-green {
    background-color: #008743;
}
.x-board .bg-green h2{}

.x-board table {
    margin: 0;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

.x-board .l-red {
    background-color: #dd8500;
}

.x-board table th, .x-board table td {
    padding: 15px;
    font-size: 5vh;
    text-transform: none;
    letter-spacing: normal;
}

.x-board table.vertical th, .x-board table.vertical td{
    padding: 0px;
    font-size: 3vh;
    text-transform: none;
    letter-spacing: normal;
}

.x-board table td.prayerName {
    background: #383838;
    color: #eee;
    font-weight: bold;
    text-align: left;
    padding-left: 35px;
}
.x-board table td.sunrise {
    text-align: center;
}
.x-board table thead tr th {
    text-align: center;
}
.x-board table thead tr th,
.x-board table thead tr td,
.x-board table tbody tr td {
    padding: 0px;
    border-bottom: 1px solid rgba(155,96,91,1);
    border-left: none;
    border-right: none;
    vertical-align: middle;
    border-collapse: collapse;
    color: #eee;
}
.x-board table > thead > tr > td {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.x-board td span.dpt_start, td span.dpt_jamah {
    font-size: 6vh;
}
.x-board .vertical td span.dpt_start, .vertical td span.dpt_jamah {
    font-size: 3vh;
}
.x-board table > tbody > tr:last-child > td {
    border: none;
}

.x-board table td span {
    font-weight: bold;
}

.x-board .nextPrayer {
    color: #fff !important;
}
.x-board span.nextPrayer {
    display: inline-block;
}
.x-board .nextPrayer h2 {
    color: #fff !important;
    font-size: 10vh !important;
    margin: 30px;
}
.x-board .nextPrayer h3 {
    color: #fff !important;
    font-size: 10vh !important;
    opacity: .8
}
.x-board .nextPrayer h4 {
    padding:60px;
    font-size: 8vh;
    opacity: .8
}

.x-board .nextPrayer h4.vertical {
    padding: 30px;
    font-size: 6vw;
    opacity: .8
}
.x-board .nextPrayer h4.vertical span.sura{
    font-size: 3vw;
    opacity: .8;
    padding-top: 10px;
}
.x-board .nextPrayer h2.vertical {
    font-size: 4vh !important;
}
.x-board .nextPrayer h3.vertical {
    font-size: 4vh !important;
    opacity: .8
}
.x-board tr.nextPrayer td{
    background-color: red;
}

.x-board .dptScTime{
    color: inherit;
}
.x-board .timeLeft {
    font-size: 0.8em;
}
.x-board .timeLeftCountDown {
    display: inline;
}

.x-board .blink{
    animation: blink 1s infinite;
    font-weight: bold;
    font-size: 4vh;
    line-height: 1.2;
}
.x-board .blink-vertical{
    animation: blink 1s infinite;
    font-weight: bold;
}

.x-board .blink-vertical a{
    font-size: 3vh;
}

.x-board span.tomorrow {
    margin-left: 10px;
}

.x-board div.sehri  {
    float: left;
    padding: 0px 30px 0px 30px;
    font-size: 3vh;
    background: red;
    font-weight: 800;
}

.x-board div.iftar  {
    padding: 0px 30px 0px 30px;
    font-size: 3vh;
    background: red;
    font-weight: 800;
}

div.jamahChanges-horizontal span{
    font-size: 5vh;
    word-spacing: 10px;
    padding-bottom: 10px;
}
div.jamahChanges-vertical span{
    font-size: 3vh;
    word-spacing: 10px;
    padding-bottom: 10px;
}

h3.scrolling-vertical > marquee > div > span {
    font-size: 3vh;
    word-spacing: 10px;
    padding-bottom: 10px;
}

.x-time-change{
    word-spacing: 10px;
    background: #565656;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.x-board .padding-null {
    padding: 0;
}

.x-board .carousel .item{
   height:100%;
 }
.x-board .carousel-inner {
    height:100%;
}

.x-board img.logo{
    max-width: 50%;
    max-height: 100%;
    float: right;
    padding: 10px;
}

#carouselExampleIndicators {
    height: 100%;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#carouselExampleIndicators div  div  img {
    height: 100%;
    width: 100%;
}

.x-board .scrolling{
    font-size: 5vh;
}

.x-board .scrolling-vertical{
    padding-top: 15%;
    font-size: 3vh;
}

.x-board h2.dptScTime p.jumuah {
    font-size: 12vh;
    margin: 20px;
}

.x-board .blink a,  div.dsScroll a {
    text-decoration: none !important;
}

.x-board div.quranVerse span.sura {
    font-size: 3rem;
    color: #000;
    display: block;
    padding-top: 10px;
}
p.jumuah {
    margin: 40px;
}

h2.vertical > div > span > h2 > p {
    font-size: 6vh !important;
}

@keyframes blink{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
}

/*
inspired from https://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

@media only screen and (max-width: 1024px) {
    h2#dsNextPrayer div span h2.dptScTime{
        font-weight: 700;
    }
    .x-board .nextPrayer h2 {
        margin: 0px;
    }
}
@media only screen and (max-device-width: 520px) {
    .x-board div.sehri {
        font-size: 2vh;
    }
    .x-board div.iftar  {
        font-size: 2vh;
    }
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.clock {
    margin: 0 auto;
    color: #fff;
}

ul.clock {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    border: none;
    word-spacing: -10px;
}

ul.clock li {
    display: inline;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}

ul.clock li#sec {
    font-size: 20px !important;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

div.carousel-item a{
    text-decoration: none;
}
p.adhan-copy{
    color: blue;
    font-family: monospace;
}

/*
##########################
x-board-modern start 
##########################
*/

/* CLOCK START */
.x-board-modern .clock {
    margin: 0 auto;
    color: #000;
}

.x-board-modern ul.clock {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    border: none;
    word-spacing: -10px;
}

.x-board-modern ul.clock li {
    display: inline;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}

.x-board-modern ul.clock li#sec {
    font-size: 20px !important;
}
/* CLOCK END */

.x-board-modern .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.x-board-modern #top-section {
    width: 100%;
    background-color: #fff !important;
}
.x-board-modern #top-section .row{
    margin-right: 0 !important;
}
.x-board-modern .mosque-name{
    padding-top: 15px;
    height: 20px;
}
.x-board-modern .mosque-name h2{
     font-family: 'Merriweather', serif ;
     color: rgb(20,74,67);
     font-size: 50px;
     font-weight: 800;
     letter-spacing: 7px;
     display: inline;
}
.x-board-modern .logo img{
    height: 110px;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 10px;
}
.x-board-modern .time{
    padding-right: 20px;
    padding-top: 10px;
    text-align: right;
}
.x-board-modern .time h3{
    font-family: 'Merriweather', serif;
    font-size: 55px;
    font-weight: 800;
    color: rgb(20,74,67);
    display: inline;
}
.x-board-modern .date-english-arabic{
    background-color: rgb(20,74,67);
}
.x-board-modern .date-english-arabic p{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 3px;
}
.x-board-modern .english-date p{
    padding-left: 45px;
}
.x-board-modern #banner-section{
    height: 425px;
    background-color: #fff !important;
    text-align: center;
}
.x-board-modern #banner-section img{
    width: 2000px;
    height: 425px;
}
.x-board-modern #banner-section .prayer-time{
    font-size: 30px;
    font-family: 'Merriweather', serif;
}
.x-board-modern #banner-section .time-metrics{
    font-size: 60px;
    color: rgb(20,74,67);
    font-weight: bolder;
    font-family: 'Merriweather', serif;
}
.x-board-modern #banner-section .next-prayer-time{
    padding-top: 130px;
}
.x-board-modern #time-table-section{
    background-color: rgb(20,74,67);
    padding-top: 5px;
    height: 288px;
}
.x-board-modern #time-table-section .row{
    width: 100%;
    padding-left: 10px;
    margin: 0;

}
.x-board-modern .icon{
    font-size: 30px;
    color: yellow;
}
.x-board-modern #time-table-section h4{
    font-size: 40px;
    color: #e2e2e2;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    margin-top: 7px;
}
.x-board-modern .prayer-start p{
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 54px;
    color: #e2e2e2;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    letter-spacing: 6px;
    opacity: 0.6;
}
.x-board-modern .prayer-jamaat p{ 
    font-size: 54px;
    font-family: 'Lato',sans-serif;
    color: #e2e2e2;
    font-weight: 900;
    letter-spacing: 6px;
}
.x-board-modern .sunrise p , .x-board-modern .jummah-prayer p{
    margin-top: 15px;
}

.x-board-modern .fajr-prayer ,.x-board-modern .sunrise, .x-board-modern .zuhr-prayer, .x-board-modern .asr-prayer, .x-board-modern .maghrib-prayer, .x-board-modern .isha-prayer{
    height: 250px;
    border-right: 1px solid #3e605c;
}
.x-board-modern #time-table-section .col-md-2{
    flex: 1 0 0%;
    max-width: 15.666667%;
}






@media(max-width: 1349px){
    .x-board-modern .mosque-name h2{
        font-size: 46px;
        letter-spacing: 6px;
    }
    .x-board-modern .time h3{
        font-size: 52px;

    }
}

@media (max-width: 1298px) {
    .x-board-modern .mosque-name h2{
        letter-spacing: 5px;
        font-size: 44px;
    }
    .x-board-modern .time{
        padding-right: 15px;
    }
    .x-board-modern .time h3{
        font-size: 48px;
    }
    .x-board-modern .logo img{
        height: 105px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 28px;
    }
    .x-board-modern #banner-section{
        height: 370px;
    }
    .x-board-modern #banner-section img{
        height: 370px;
    }
    .x-board-modern .icon{
        font-size: 25px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 34px;
        letter-spacing: 2px;
    }
    .x-board-modern .prayer-start p{
        font-size: 49px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 49px;
    }
}

@media (max-width: 1170px){
    .x-board-modern .mosque-name h2{
        font-size: 41px;
    }
    .x-board-modern .time h3{
        font-size: 44px;
    }
    .x-board-modern .logo img{
        height: 102px;
        padding-left: 60px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 25px;
    }
    .x-board-modern #banner-section{
        height: 345px;
    }
    .x-board-modern #banner-section img{
        height: 345px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 25px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 50px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 130px;
    }
    .x-board-modern .icon{
        font-size: 23px;
    }
    .x-board-modern #time-table-section{
        height: 270px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 30px;
        letter-spacing: 2px;
    }
    .x-board-modern .prayer-start p{
        font-size: 40px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 40px;
    }
    .x-board-modern .fajr-prayer ,.x-board-modern .sunrise, .x-board-modern .zuhr-prayer, .x-board-modern .asr-prayer, .x-board-modern .maghrib-prayer, .x-board-modern .isha-prayer{
        height: 220px;
        border-right: 1px solid #3e605c;
    }
}
@media(max-width: 1079px){
    .x-board-modern .mosque-name h2{
        letter-spacing: 4px;
        font-size: 38px;
    }
    .x-board-modern .time h3{
        font-size: 41px;
    }
    .x-board-modern .logo img{
        height: 99px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 22px;
    }
}

@media (max-width: 1048px){
    .x-board-modern .mosque-name h2{
        letter-spacing: 4px;
        font-size: 35px;
    }
    .x-board-modern .time h3{
        font-size: 38px;
    }
    .x-board-modern .logo img{
        height: 97px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 22px;
    }
    .x-board-modern #banner-section{
        height: 325px;
    }
    .x-board-modern #banner-section img{
        height: 325px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 20px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 45px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 125px;
    }
    .x-board-modern .icon{
        font-size: 22px;
    }
    .x-board-modern #time-table-section{
        height: 260px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 27px;
        letter-spacing: 2px;
    }
    .x-board-modern .prayer-start p{
        font-size: 35px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 35px;
    }
    
}

@media (max-width: 972px){
    .x-board-modern .mosque-name h2{
        letter-spacing: 3px;
        font-size: 33px;
    }
    .x-board-modern .time h3{
        font-size: 36px;
    }
    .x-board-modern .logo img{
        height: 95px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .x-board-modern #banner-section{
        height: 305px;
    }
    .x-board-modern #banner-section img{
        height: 305px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 17px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 42px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 122px;
    }
    .x-board-modern .icon{
        font-size: 22px;
    }
    .x-board-modern #time-table-section{
        height: 245px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 25px;
        letter-spacing: 1px;
    }
    .x-board-modern .prayer-start p{
        font-size: 32px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 32px;
    }
    .x-board-modern .fajr-prayer ,.x-board-modern .sunrise, .x-board-modern .zuhr-prayer, .x-board-modern .asr-prayer, .x-board-modern .maghrib-prayer, .x-board-modern .isha-prayer{
        height: 200px;
        border-right: 1px solid #3e605c;
    }
   
}

@media (max-width: 906px){
    .x-board-modern .time h3{
        font-size: 34px;
    }
    .x-board-modern .logo img{
        height: 89px;
        padding-left: 35px;
    }
    .x-board-modern #banner-section{
        height: 295px;
    }
    .x-board-modern #banner-section img{
        height: 295px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 15px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 40px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 122px;
    }
    .x-board-modern .icon{
        font-size: 20px;
    }
    .x-board-modern #time-table-section{
        height: 240px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 22px;
        letter-spacing: 0px;
    }
    .x-board-modern .prayer-start p{
        font-size: 30px;
        letter-spacing: 3px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 30px;
        letter-spacing: 3px;
    }
   
}
@media(max-width: 880px){
    .x-board-modern .mosque-name h2{
        letter-spacing: 3px;
        font-size: 29px;
    }
    .x-board-modern .time{
        padding-top: 15px;
    }
    .x-board-modern .time h3{
        font-size: 32px;
    }
    .x-board-modern .logo img{
        height: 89px;
        padding-left: 35px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 18px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 13px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 37px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 117px;
    }
}

@media (max-width: 787px){
    .x-board-modern .mosque-name h2{
        letter-spacing: 2px;
        font-size: 29px;
    }
    .x-board-modern .time{
        padding-top: 20px;
    }
    .x-board-modern .time h3{
        font-size: 30px;
    }
    .x-board-modern .logo img{
        height: 83px;
        padding-left: 40px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 16px;
    }
    .x-board-modern #banner-section{
        height: 285px;
    }
    .x-board-modern #banner-section img{
        height: 285px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 10px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 35px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 110px;
    }
    .x-board-modern .icon{
        font-size: 17px;
    }
    .x-board-modern #time-table-section{
        height: 210px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 19px;
        letter-spacing: 0px;
    }
    .x-board-modern .prayer-start p{
        font-size: 26px;
        letter-spacing: 3px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 26px;
        letter-spacing: 3px;
    }
    .x-board-modern .fajr-prayer ,.x-board-modern .sunrise, .x-board-modern .zuhr-prayer, .x-board-modern .asr-prayer, .x-board-modern .maghrib-prayer, .x-board-modern .isha-prayer{
        height: 160px;
        border-right: 1px solid #3e605c;
    }
}
@media(max-width: 765px){
    .x-board-modern .time {
        padding-right: 5px;
    }
    .x-board-modern .time h3{
        font-size: 29px;
    }
}

@media (max-width: 718px){
    .x-board-modern .mosque-name{
        height: 80px;
    } 
    .x-board-modern .mosque-name h2{
        font-size: 27px;
        letter-spacing: 4px;
    }
    .x-board-modern .logo img{
        height: 90px;
        padding-left: 35px;
    }
    .x-board-modern .time{
        text-align: center;
        padding-top: 0;
    }
    .x-board-modern .time h3{
        font-size: 50px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 14px;
    }
    .x-board-modern #time-table-section .row{
        padding-top: 0;
    }
    .x-board-modern #time-table-section .pt-4{
        padding-top: 1rem !important;
    }
    .x-board-modern #time-table-section .col-md-2{
        flex: 0 0 100%;
        max-width: 100.666667%;
    }
    .x-board-modern #time-table-section .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .x-board-modern #time-table-section{
        height: 900px;
    }
    .x-board-modern #time-table-section .row{
        padding-left: 0;
    }
    .x-board-modern .fajr-prayer , .x-board-modern .sunrise, .x-board-modern .zuhr-prayer, .x-board-modern .asr-prayer, .x-board-modern .maghrib-prayer, .x-board-modern .isha-prayer{
        border-right: 0;
    }
    .x-board-modern #banner-section{
        height: 200px;
    }
    .x-board-modern #banner-section img{
        height: 200px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 10px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 35px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 80px;
    }
    .x-board-modern .icon{
        font-size: 25px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 30px;
        letter-spacing: 3px;
    }
    .x-board-modern .prayer-start p{
        font-size: 35px;
        letter-spacing: 3px;
        margin-top: 10px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 35px;
        letter-spacing: 3px;
    }
    .x-board-modern .fajr-prayer , .x-board-modern .sunrise{
        height: 200px;
        border-bottom: 1px solid #3e605c;
    }
    .x-board-modern .zuhr-prayer, .x-board-modern .asr-prayer{
        height: 220px;
        border-bottom: 1px solid #3e605c;
    }
    .x-board-modern .maghrib-prayer, .x-board-modern .isha-prayer{
        height: 220px;
        border-bottom: 1px solid #3e605c;
    }
    .x-board-modern .zuhr-prayer , .x-board-modern .asr-prayer , .x-board-modern .maghrib-prayer , .x-board-modern .isha-prayer , .x-board-modern .jummah-prayer{
        padding-top: 20px;
    }
    .x-board-modern .fajr-prayer , .x-board-modern .zuhr-prayer , .x-board-modern .maghrib-prayer{
        border-right: 1px solid #3e605c;
    }
}

@media (max-width: 609px){
    .x-board-modern .time h3{
        font-size: 47px;
    }
    .x-board-modern .mosque-name h2{
        font-size: 27px;
        letter-spacing: 2px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 12px;
    }
  
}

@media (max-width: 550px){
    .x-board-modern .mosque-name h2{
        font-size: 23px;
        letter-spacing: 2px;
    }
    .x-board-modern .logo img{
        height: 75px;
        padding-left: 25px;
    }
    .x-board-modern .time h3{
        font-size: 40px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 10px;
    }
    .x-board-modern #time-table-section .row{
        padding-top: 0;
    }
    .x-board-modern #time-table-section{
        height: 770px;
    }
    .x-board-modern #banner-section{
        height: 190px;
    } 
    .x-board-modern #banner-section img{
        height: 190px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 10px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 30px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 70px;
    }
    .x-board-modern .icon{
        font-size: 15px;
    }
    .x-board-modern #time-table-section{
        height: 750px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .x-board-modern .prayer-start p{
        font-size: 22px;
        letter-spacing: 2px;
        margin-top: 10px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 22px;
        letter-spacing: 2px;
    }
    .x-board-modern .fajr-prayer , .x-board-modern .sunrise{
        height: 150px;
        border-bottom: 1px solid #3e605c;
    }
    .x-board-modern .zuhr-prayer, .x-board-modern .asr-prayer{
        height: 170px;
        border-bottom: 1px solid #3e605c;
    }
    .x-board-modern .maghrib-prayer, .x-board-modern .isha-prayer{
        height: 170px;
        border-bottom: 1px solid #3e605c;
    }
}

@media (max-width: 488px){
    .x-board-modern .mosque-name{
        height: 70px;
    }
    .x-board-modern .mosque-name h2{
        font-size: 21px;
        letter-spacing: 1px;
    }
    .x-board-modern .logo img{
        height: 60px;
        padding-left: 20px;
    }
    .x-board-modern .time h3{
        font-size: 35px;
    }
    .x-board-modern .date-english-arabic p{
        font-size: 7px;
    }
    .x-board-modern #time-table-section .row{
        padding-top: 0;
    }
    .x-board-modern #time-table-section{
        height: 600px;
    } 
    .x-board-modern #time-table-section h4{
        margin-top: 0;
    }
    .x-board-modern #banner-section{
        height: 130px;
    }
    .x-board-modern #banner-section img{
        height: 130px;
    }
    .x-board-modern #banner-section .prayer-time{
        font-size: 7px;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .time-metrics{
        font-size: 20px;
        color: rgb(20,74,67);
        font-weight: bolder;
        font-family: 'Merriweather', serif;
    }
    .x-board-modern #banner-section .next-prayer-time{
        padding-top: 50px;
    }
    .x-board-modern .icon{
        font-size: 16px;
    }
    .x-board-modern #time-table-section h4{
        font-size: 19px;
        letter-spacing: 1px;
    }
    .x-board-modern .prayer-start p{
        font-size: 22px;
        letter-spacing: 2px;
        margin: 0px;
    }
    .x-board-modern .prayer-jamaat p{
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .x-board-modern .zuhr-prayer , .x-board-modern .asr-prayer , .x-board-modern .maghrib-prayer , .x-board-modern .isha-prayer{
        padding-top: 10px;
    }
    .x-board-modern .jummah-prayer{
        padding-top: 10px;
    }
    .x-board-modern .fajr-prayer , .x-board-modern .sunrise{
        height: 130px;
        border-bottom: 1px solid #3e605c;
    }
    .x-board-modern .zuhr-prayer, .x-board-modern .asr-prayer{
        height: 150px;
        border-bottom: 1px solid #3e605c;
    }
    .x-board-modern .maghrib-prayer, .x-board-modern .isha-prayer{
        height: 150px;
        border-bottom: 1px solid #3e605c;
    }
   
}

    /*
    ######################## 
    x-board-modern finish 
    ########################
    */
    
    /*Print*/
    @media print {
        * {
            background: initial !important;
            -webkit-print-color-adjust: exact;
        }

        body {
            -webkit-print-color-adjust: exact;
            background-color: #c30;
        }

        #monthlyTimetable, #monthlyTimetable * {
            visibility: visible;
            font-size: 10px;
        }

        .monthHeading, .printIcon {
            display: none;
            visibility: hidden;
        }

        span.monthSelector {
            display: none;
            visibility: hidden;
        }

        select.otherMonth {
            display: none;
            visibility: hidden;
        }

        h3.printSiteName {
            display: block;
            color: grey !important;
            font-size: 30px;
            visibility: visible;
            margin: 0px !important;
        }

        table.customStyles tr.highlight, th.highlight, td.highlight {
            background: transparent !important;
        }

        p.hijriDate {
            display: none;
        }
    }
